backend:
  name: github
  repo: hello-snamy/test2
  base_url: https://suresh-issue-82.dcycleproject.org
  auth_endpoint: /auth/github/repo/6953b9ecc656be538413c56c
media_folder: static/uploads
public_folder: /uploads
collections:
  - name: blog
    label: Blog
    folder: content/blog
    create: true
    slug: '{{slug}}'
    fields:
      - label: Title
        name: title
        widget: string
      - label: Date
        name: date
        widget: datetime
      - label: Body
        name: body
        widget: markdown
